table {
    max-width: 90%; /* Percentuale della larghezza del contenitore */
    margin: 0 auto; /* Centra la tabella orizzontalmente */
}

.pagination-container {
    display: flex;
    justify-content: center; /* Allinea gli elementi figli (la paginazione) al centro */
}

