.card {
    max-width: 100%;
    margin: 0 auto;
}
  
.card-body{
    background-color: #fff;
    border-radius: 10px;
}

.information span{
    color: #333;
    display: 'flex';
    align-items: 'center';
    margin-right: 20px;
}

.card .card-header{
    background-color: #ffffff;
    color: #000;
}
