.my-link {
    text-decoration: none;
    color: #0f394c; 
    font-size: 1.5em; 
    transition: color 0.4s, font-size 0.4s; 
  }
  
  .my-link:hover {
    color: #4bafdc;
    font-size: 1.8em; 
  }
  
  .my-link:hover ~ li .my-link {
    margin-top: 10px;
  }
  
  .features-background {
    background-size: 55%;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 5%;
    padding: 20px; 
  }
  
  .features-background h2 {
    margin-top: 7%;
    color: #171717;
    font-weight: bold; 
  }

  .features-background ul {
    list-style: none;
    padding: 0;
    margin-top: 5%;
  }
  
  .features-background ul li {
    margin-bottom: 5%;
  }
  