body, .table, .pagination-container {
    font-family: "Open Sans", sans-serif;
    color: #444444;
  }
  
  .table {
      border-collapse: separate;
      max-width: 90%;
      margin: 0 auto;
      border-spacing: 0;
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }
  
  .table thead th {
      background-color: #225fb1; 
      color: #fff; 
      font-family: "Dosis", sans-serif; 
      border: none;;
  }
  
  .table-striped tbody tr:nth-of-type(odd) {
      background-color: rgba(0, 0, 0, .05);
  }
  
  .table tbody tr td a {
      color: #49b5e7; 
      transition: color 0.3s; 
  }
  
  .table tbody tr td a:hover {
      color: #76c7ed;
      text-decoration: none; 
  }

  .pagination-container {
    display: flex;
    justify-content: center;
    }


  

  
  /* Assicurati che il CSS sia applicato correttamente aggiungendo classi specifiche se necessario e testando la tua pagina per garantire che tutto funzioni come previsto. */
  


