.container-fluid {
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

h2 {
    font-family: "Dosis", sans-serif;
    color: #0f394c;
}

.form-label {
    font-weight: bold;
}

.form-select, .form-control {
    border-radius: 4px;
    border: 1px solid #ced4da; /* Grigio chiaro per i bordi */
    padding: .375rem .75rem; /* Padding interno */
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out; /* Transizione morbida */
}

.form-select:focus, .form-control:focus {
    border-color: #49b5e7; /* Colore di focus coerente con il tema */
    box-shadow: 0 0 0 .2rem rgba(73, 181, 231, .25); /* Ombra leggera per l'elemento in focus */
}

.btn-dark {
    background-color: #49b5e7 !important;/* Colore di sfondo del bottone */
    border-color: #49b5e7 !important; /* Colore del bordo del bottone */
}

.btn-dark:hover {
    background-color: #76c7ed !important; /* Colore di sfondo al passaggio del mouse */
    border-color: #76c7ed !important; /* Colore del bordo al passaggio del mouse */
}

.errorMessage {
    background-color: #f8d7da; /* Colore di sfondo rosso chiaro per gli errori */
    color: #721c24; /* Colore del testo scuro per un buon contrasto */
    border-color: #f5c6cb; /* Colore del bordo leggermente più scuro dello sfondo */
    border-radius: 4px; /* Bordi arrotondati per un aspetto più morbido */
    padding: 10px; /* Spaziatura interna per non attaccare il testo ai bordi */
    text-align: center; /* Testo centrato */
    margin-bottom: 20px; /* Margine inferiore per distanziarlo dagli altri elementi */
    max-width: 80%; /* Larghezza massima per non estendersi troppo orizzontalmente */
    margin-left: auto; /* Margini automatici per centrare orizzontalmente il messaggio */
    margin-right: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Ombra leggera per un effetto sollevato */
    font-size: 1rem; /* Dimensione del testo */
}

/* Opzionale: animazione leggera all'apparizione del messaggio di errore */
@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.errorMessage {
    animation: slideDown 0.3s ease-out;
}
