.sentiment-summary-card {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 20px;
    text-align: center;
  }
  
  .sentiment-header {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .sentiment-value {
    font-weight: bold;
    font-size: 1.2em;
    margin: 10px 0;
  }
  
  .sentiment-numbers {
    display: flex;
    justify-content: space-between;
  }
  
  .sentiment-icon {
    color: red; /* Default, poi sovrascrivi per le altre due icone */
  }
  
  .sentiment-icon.neutral {
    color: orange;
  }
  
  .sentiment-icon.positive {
    color: green;
  }
  