.post-emotion-card {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 20px;
    text-align: center; 
  }
  
  .post-emotion-header {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .post-emotion-count, .post-emotion-icon {
    font-size: 1.2em; 
    font-weight: bold;
    margin: 10px 0;
  }
  
  .post-emotion-icon i {
    font-size: 2.4em; 
    color: red; 
    display: block; 
  }
  