/* Apply the trends-section style */
.trends-section {
    background-color: #fff; /* Match the background color from homepage.css */
    border-radius: 4px; /* Slightly reduce the border-radius for consistency */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* Keep the box shadow */
    padding: 20px; /* Keep the padding */
    margin: 20px 0; /* Keep the margin */
    width: 80%;
    border-radius: 20px;
}

/* Apply the charts-container style */
.charts-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Apply the paragraph-container style */
.paragraph-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 5%;
}

.custom-tooltip {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #333;
  }
  
  .custom-tooltip p {
    margin: 0;
    font-size: 14px;
  }
  
  .custom-tooltip .label {
    font-weight: bold;
  }

  .chart-description {
    font-size: 14px; 
    color: #666;
    text-align: center; 
    margin-top: 10px;
    margin-bottom: 10px; 
    max-width: 80%; 
    margin-left: 0; 
    margin-right: 0;
  }
  
  
