/* Apply the trends-section style */
.trends-section {
    background-color: #fff; /* Match the background color from homepage.css */
    border-radius: 4px; /* Slightly reduce the border-radius for consistency */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* Keep the box shadow */
    padding: 20px; /* Keep the padding */
    margin: 20px 0; /* Keep the margin */
    width: 80%;
    border-radius: 20px;
}

/* Apply the charts-container style */
.charts-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Apply the paragraph-container style */
.paragraph-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 5%;
}

.custom-tooltip {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #333;
  }
  
  .custom-tooltip p {
    margin: 0;
    font-size: 14px;
  }
  
  .custom-tooltip .label {
    font-weight: bold;
  }

  .chart-description {
    font-size: 14px; 
    color: #666;
    text-align: center; 
    margin-top: 10px;
    margin-bottom: 10px; 
    max-width: 80%; 
    margin-left: 0; 
    margin-right: 0;
  }
  
  .line-chart-container {
    display: flex;
    justify-content: center; /* Centra orizzontalmente il contenuto */
    align-items: center; /* Centra verticalmente il contenuto */
    height: 100%; /* Assicurati che il contenitore occupi l'altezza desiderata */
  }
  
  /* Se il contenitore del LineChart non occupa già l'altezza completa del suo genitore, potresti dover impostare l'altezza del genitore per far funzionare l'allineamento verticale. */
  .parent-container {
    height: 300px; /* Ad esempio, l'altezza può essere impostata a 300px o qualsiasi altro valore che desideri. */
  }
  
  .line-chart-description {
    margin-top: 20px; /* Aggiunge spazio sopra il paragrafo */
    text-align: center; /* Allinea il testo al centro */
    font-size: 16px; /* Imposta la dimensione del font */
    color: #666; /* Imposta il colore del testo */
    max-width: 800px; /* Imposta la larghezza massima per migliorare la leggibilità */
    margin-left: auto; /* Centra il paragrafo orizzontalmente */
    margin-right: auto;
  }
  
